@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.placeyourbidcontainer{
    margin: auto;
    width: 335px;
    border-color: #0A22391F;
    border-radius: 5px;
    border-style: solid;
    margin-top: 30px;
}
.placeyourbidtext{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.amountplaceholder{
    border:none;
    font-size: 50px;
    max-width: 220px;
    margin-top: 7px;
    text-align: center;
}
.amountplaceholder input{
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    max-width: 220px;
    font-size: 50px;
}
.amountplaceholder :focus{
    border: none;
}
.buttons{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fixedprice{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
}
.fixedpriceselected{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: #3054D6;  
}
.ratenegotiableselected{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: #3054D6;  
}
.ratenegotiable{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
}
.fixedpricecontainer{
    border-style: solid;
    border-color: #E7EBEE;
    border-width: 1px;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
}
.ratenegotiablepricecontainer{
    border-style: solid;
    border-color: #E7EBEE;
    border-width: 1px;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;  
}
.fixedpricecontainerselected{
    border-style: solid;
    border-color: #3054D6;
    border-width: 1px;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    background-color: #3054D60F;
}
.ratenegotiablecontainerselected{
    border-style: solid;
    border-color: #3054D6;
    border-width: 1px;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    background-color: #3054D60F;
}
.bidnowbuttoncontainer{
    text-align: center;
    background-color: #EDF0F7;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #EDF0F7;
    border-style: solid;
}
.bidnowtext{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.bidnowbuttoncontainerenabled{
        text-align: center;
        background-color: #3054D6;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-color: #EDF0F7;
        border-style: solid;
}
.bidnowtextenabled{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}